body {
    font-family: "Arial", sans-serif;
    margin: 20px;
  }

  #messages {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
  }

  .hidden-content {
    display: none;
  }

  .wrapper {
    position: relative;
    width : 1500px;
    height: 500px;
    }
#arretCanvas{
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    border: 1px solid black;
}
#entityCanvas{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    border: 1px solid black;
}